<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lazarus - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lazarus - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lazarus - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Lazarus - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lazarus - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F9CCE0304CF4B5714778A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7111E4D2694358B278BF7476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A419C566C61946ABECD758A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA49C9C2D73DA3867849B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33A0D2E7E7E0A3AD64AE27D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
